html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-image: url(./imagens/kode.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px 0;
    color: white;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
}

header li a {
    color: white;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    height: 180px;
}

.article article {
    width: 30%;
}

a:hover{
    color: red;
}

section {
    padding: 16px 0;
}

section h2, .article article {
    margin-bottom: 16px;
}

.article article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a {
    color: white;
    padding: 8px;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
}

#sports {
    background-color: rgba(0, 0, 255, 0.5);
}

#sports .article article a {
    background-color: blue;
}

#economy {
    background-color: rgba(0, 255, 0, 0.3);
}

#economy .article article a {
    background-color: green;
}

#tech {
    background-color: rgba(255, 0, 0, 0.5)
}

#tech .article article a {
    background-color: red;
}

